@using Entity.Concrete
@model List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{  string color = "";
    string checkStatus = "";
    string statusColor = "";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Proje İşlemleri</h3>

            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 15%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Category.CategoryName == "Tiyatro")
                            {
                                color = "badge badge-warning";
                            }
                            if (item.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-success";
                            }
                            if (item.Category.CategoryName == "Dizi")
                            {
                                color = "badge badge-secondary";
                            }
                            <div>
                                <tr>
                                    <td>   @(((DateTime)item.CreatedDate).ToString("dd-MMM-yyyy"))</td>
                                </tr>
                            </div>
                            <tr>
                                <td>
                                    @item.HeadingId
                                </td>
                                <td>
                                    <a>
                                        @item.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)item.HeadingDate).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@item.Writer.WriterImage">&nbsp;&nbsp;&nbsp; @item.Writer.WriterName @item.Writer.WriterSurName
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    @switch (item.HeadingStatus)
                                    {
                                        case true:
                                            statusColor = "badge bg-success";
                                            break;
                                        case false:
                                            statusColor = "badge bg-danger";
                                            break;
                                    }
                                    <span class="@statusColor">@item.HeadingStatus</span>  
                                </td>
            
                                <td class="project-state">
                                    <span class="@color">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@item.HeadingId">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@item.HeadingId">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Heading/Delete/@item.HeadingId">
                                        <i class="fas fa-trash">
                                        </i>
                                        @if (item.HeadingStatus == true)
                                        {
                                            checkStatus = "Pasif Yap";
                                        }
                                        else
                                        {
                                            checkStatus = "Aktif Yap";
                                        }
                                        @checkStatus
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
<a href="/Heading/Add/" class="btn btn-primary">Yeni Başlık Girişi</a>

